
pandas
scikit-learn
langchain
langchain-groq
groq
matplotlib
seaborn
openpyxl
numpy 
streamlit 
pandas 
crewai 
crewai[tools]
logging                                                          
typing 
chromadb 
langchain.docstore.document                      

tqdm
